@import '~bootstrap'
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap')
@import url('https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css')
@import url('https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css')
@import url('https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css')

body
    font-family: 'IM Fell DW Pica', serif
    background-image: url("/images/background.jpg")
    background-size: cover
    //background-
    //background-color: #a7724e

.btn-primary
    background-color: #44c59f
    border-color: #44c59f
.btn-primary:active
    background-color: #146c43
.btn-primary:focus
    background-color: #146c43
a
    color: #836328
    text-decoration: none
a:hover
    color: #f0c055
h1
    a
        text-decoration: none
        color: black
    a:hover
        color: black
.dataTables_wrapper
    .dataTables_paginate
        .paginate_button
            margin: 0
            margin-left: -1px
            padding: 0
