@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
@import '~bootstrap'
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap')
@import url('https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css')
@import url('https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css')
@import url('https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css')

$primary-color: #4487b0 //#437fcc
$secondary-color: #44b083 //#43cc4b
$tertiary-color: #87b044 //#cc9043

//#4487b0

body
    font-family: 'IM Fell DW Pica', serif
    //background-image: url("/images/background.jpg")
    //background-size: cover
    //background-
    background-color: #f3fdc8 //

.btn-primary
    background-color: $primary-color
    border-color: $primary-color
.btn-primary:active
    background-color: $tertiary-color
.btn-primary:focus
    background-color: $tertiary-color
.btn-primary:hover
    background-color: $tertiary-color
    border-color: $tertiary-color

.btn-info
    background-color: $secondary-color
    border-color: $secondary-color
.btn-info:active
    background-color: $tertiary-color
.btn-info:focus
    background-color: $tertiary-color
.btn-info:hover
    background-color: $tertiary-color
    border-color: $tertiary-color

a
    color: #836328
    text-decoration: none
    padding: 10px
a:hover
    color: white
    background-color: $secondary-color
    opacity: 0.7

h1
    a
        text-decoration: none
        color: black
    a:hover
        color: black
.dataTables_wrapper
    .dataTables_paginate
        .paginate_button
            margin: 0
            margin-left: -1px
            padding: 0
.inviteeList
    list-style-type: none
    padding-left: 0
    li
        font-size: 14px

@include media-breakpoint-up(sm)
    .inviteeList
        list-style-type: none
        padding-left: 0
        li
            font-size: 16px
